/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body, app-root, mat-sidenav-container, .site {
  margin: 0;
  width: 100%;
  height: 100%;
}

.site {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column; /* 纵向排列 */
}

main {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  //display: -ms-flexbox;
  //display: -webkit-flex;
  //display: flex;
  //flex-direction: column; /* 纵向排列 */
  //justify-content: center; /* 水平排列 */
  //align-content: center; /* 垂直排列 */
  //align-items: center; /* 每行再纵轴上的排列（每行垂直居中） */
}

.fill-remaining-space {
  // 使用 flexbox 填充剩余空间
  // @angular/material 中的很多控件使用了 flex 布局
  flex: 1 1 auto;
}
